@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika-Bold.woff2') format('woff2'),
        url('../fonts/Inika-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inika';
    src: url('../fonts/Inika.woff2') format('woff2'),
        url('../fonts/Inika.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    background-color: #0f74be;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}
h2{
    margin: 2rem auto 2rem;
    color: #fff;
    font-size: 40px;
    font-family: 'Inika';
    text-align: center;
    /*font-family: 'Droid Sans', Arial, Helvetica, sans-serif;*/
}
.header{
    padding: 1rem;
    height: 79px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    max-width: 138px;
    font-size: 0;
    line-height: 1px;
}
/*.content{
    display: flex;
    justify-content: center;
    margin: auto;
}*/
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario{
    background-color: #01599b;
    width: 100%;;
    max-width: 400px;
    padding: 20px 40px 40px;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0,0,0,.5);
}
.boton{
    padding-left: 5px;
    text-align: left;
    width: 260px;
    height: 40px;
    background-color: #89D1F3;
    margin-top: 15px;
    border: 1px solid #89D1F3;
    border-radius: 5px;
}
.user{
    width: 60px;
    display: block;
    margin: 0 auto;
}
.user img{
    width: 100%;
    display: block;
}
.formulario .label{
    margin: 0 0 .5rem;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: left;
}
.formulario .label.password{
    margin: 2rem 0 .5rem;
}
.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="submit"]{
    width: 100%;
    padding: 16px 10px;
    display: block;
    border: none;
    border-radius: 5px;
}
.formulario input[type="submit"]{
    padding: 10px 10px;
    margin: 50px auto 50px;
    color: #000000;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: left;
    border-radius: 5px;
    background: #89D1F3;
    cursor: pointer;
}
.imagenApoyo{
    margin: 20px auto 0;
    max-width: 244px;
    display: block;
}
.imagenApoyo img{
    width: 100%;
    display: block;
}

@media(min-width:769px){
    .titulo{
        font-size: 64px;
        line-height: 64px;
        margin: 0 auto;
    }
    .container{
        max-width: 1000px;
        margin: 0 auto;
        padding: 1rem;
        flex-direction: row;
    }
    .formulario, .imagenApoyo{
        width: 55%;
    }
    .formulario{
        width: 40%;
        padding: 20px 60px 40px;
    }
    .imagenApoyo{
        width: 55%;
        margin: 0;
        max-width: initial;
    }
    /*.imagenApoyo img{
        width: auto;
        min-height: 350px;
    }*/
}

@media screen and (max-width: 768px){
    .header{
        display: none;
    }
}
