.grafica{
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 2rem;
}
.grafica:last-of-type{
    margin: 0 auto;
}
.grafica img{
    max-width: 100%;
}
.grafica.graficaPie{
    min-height: 221px;
    max-height: 248px;
}
.grafica.graficaBarras{
    min-height: 248px;
    max-height: 248px;
}
.highcharts-credits{
    display: none;
}