:root{
  --color-primario:#01599B;
  --color-secundario:#2C93E0;
  -color-botones:#0F74BE;
  -color-texto:#000000;
  --text-menu:Droid Sans;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  grid-auto-flow: column;
}


.header{
  grid-column: 1/6;
  background-color: var(--color-primario);
  height: 112px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.menu{
  grid-column: 1/1;
  grid-row: 2/7;
  background-color:var(--color-secundario);
  height: 100%;
  width: 250px;
}
.menu__opc{
  text-decoration: none;
  color: white;
  font-size: 1.9rem;
  text-align: center;
  height: 65px;
  background-color: var(--color-primario);
  width: 100%; 
}
.op1{
  margin-top: 25px;
  margin-bottom: 15px;
}
.logo{
  max-width: 125px;
  margin-left: 25px;
}
.notificacion
{
  max-width: 100px;
  margin-right: 25px;
}
.notificacion2{
  max-width: 25px;
  display: none;
  margin-right: 25px;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  flex-wrap: wrap;
}
.menu__person{
  padding: 10px;
}
.principal{
  grid-column: 2/6;
  grid-row: 2/7;
}
.principal__cabecera{
  height: 125px;
  display: flex;
  justify-content: space-around;
}
.principal__cabecera--titulo{
  font-size: 2.4rem;
}
.principal__cabecera--input{
  width: 125px;
  height: 100px;
}


@media (max-width:768px) {
  .menu{
    display: none;
  }
 .header{
  height: 69px;
 }
 .notificacion2{
  
  display: inline;
}

}